In [1]:
""" ukazka importu dat do skriptu """

# importovani knihovny/balicku, ktery nam umozni nacist excelovou tabulku do skriptu
import pandas as pd

# prirazeni naseho excelu do promenne tabulka a jeji zobrazeni s metodou .head()
# (zobrazi jen prvnich 5 radku tabulky) 
tabulka = pd.read_excel("/home/zahradnzu/Desktop/cc_dataset.xlsx")
tabulka.head()

,date,ward,patient,sex,age,microbe,crp,temp,btype,hb
0,2023-03-12,JIP_A,Petra Nová,f,31,Staphylococcus aureus,120,38.5,A+,119
1,2023-03-12,JIP_A,Jana Modrá,f,81,Staphylococcus epidermidis,30,37.3,A-,120
2,2023-03-13,JIP_A,Jana Modrá,f,81,Staphylococcus epidermidis,36,38.2,A-,120
3,2023-03-13,JIP_A,Jan Bezucký,m,7,Haemophilus influenzae,70,38.6,B+,142
4,2023-03-13,CHIR_B,Marie Vomáčková,f,47,Staphylococcus epidermidis,46,36.9,0,89